div.container {
	max-width: none;
}

ul {
	width: 100%;
}

ul li.row div.col-4 {
	background-color: rgba(108, 63, 158, 0.8);
	max-width: none;
	width: -webkit-fill-available;
	flex: none;
	line-height: 38px;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
}

ul li.row div.col-4:hover {
	background-color: rgba(108, 63, 158, 0.65);
}

ul li.row div.col-4 a {
	color: #fefcf0;
}

ul li.row div.col-4 a:hover {
	text-decoration: underline;
}

* {
	color: #fefcf0;
}

html {
	background: #19042f;
}

body {
	background: #19042f;
}

button {
	float: right;
}

button:hover {
	cursor: pointer;
}

.btn-secondary {
	margin-right: 5px;
}
